*{
    margin:0;
    font-family: arial;
    border:border-box;
}
/* .navbar{
    height:64px;
    display:flex;
    align-items: center;
    justify-content:space-evenly;
} */
.navitem{
    height:64px;
    display:flex;
    align-items: center;
    justify-content:space-evenly;
}
.nav-logo{
    width: 100px;
    height: 30px;
}
.logo{
    background-image: url("/photos/logo.png");
    height: 30px;
    width: 100%;
    background-size: cover;
}
.nav-search{
    display:flex;
    border:0.2px solid black;
    width: 60%;
    height: 35px;
    border-radius: 5px;
    justify-content: space-evenly;
}
.input-search{
    width:92%;
    border: none;
    color:#999999;
    font-size:13px;
}
.search-logo{
    width: 20px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: #747373;
    font-size: 14px;
}
.sign{
    display: flex;
    justify-content: space-evenly;
}
button{
    background-color: rgb(248, 68, 100);
    border: none;
    border-radius: 4px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    color: white;
    width: 67px;
    display: block;
}
.panel{
    background-color:rgb(245, 245, 245);
    display: flex;
    justify-content: space-around;
    height: 40px;
    font-size: 14px;
    align-items: center;
}
.panel-ops{
    width: 60%;
    justify-content: flex-start;
}
.panel-ops a{
    display: inline;
    margin-left: 15px;
    color: #333333;
}
.panel-ops1 a{
    display: inline;
    margin-left: 15px;
    color: #333333;
}
.panel-ops1{
    justify-content: flex-start;
}
.panel a{
    text-decoration: none;
}
.heroic{
    background-color:rgb(234, 233, 233);
    height:307px;
    background-image:url(/photos/disc1.avif);
    background-size: cover;
    margin: 20px;
    border-radius: 10px;
}
.reco{
    display: flex;
    justify-content: space-between;
    height: 27px;
    align-items: center;
    padding-top: 15px;
}
.reco p{
    font-size: 24px;
    color: #333333;
    padding-left:19px;
    padding-top:20px;
    font-weight: 700;
}
.reco a{
    font-size:14px;
    padding-top:20px;
    color:rgb(220, 53, 88);
    text-decoration: none;
}
.box{
    height: 500px;
    width:23%;
    padding: 20px 0px 15px;
    margin-left: 20px;
}
.box-img{
    width: 200px;
    height: 360px;
    background-repeat: no-repeat;
    background-size: 209px 356px;
    border-radius:5px;
}
.box a{
    text-decoration: none;
    font-size: 18px;
    color: #222222;
    margin: 0px 0px 4px;
    font-weight: 700;
}
.movie-section{
    display:flex;
    justify-content:space-evenly;
}
.banner{
    width:1200px;
    padding:50px 0px;
    margin:0px 50px;
}
.img{
    width: 1200px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 1120px 94px;
    border-radius:5px;    
}
.live{
    display:flex;

}
.img2{
    width: 209px;
    height: 209px;
    background-repeat: no-repeat;
    background-size: 209px 209px;
    border-radius:5px;
}
.event{
    height: 209px;
    width: 1170px;;
    
}